<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light" xmlns:th="http://www.thymeleaf.org">
  <a class="navbar-brand" href="index.html">CookHub</a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="nav navbar-nav navbar-logo mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="newpost.html" title="New Post"><img class="nav-icon" src="img/navbar-icons/new-post.png"/></a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="people.html" title="Discover People"><img class="nav-icon" src="img/navbar-icons/discover-people.png"/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html" title="My Profile"><img class="nav-icon" src="img/navbar-icons/profile.png"/></a>
    </li>
    <li>
      <a class="nav-link" href="" title="Logout"><img class="nav-icon" src="img/navbar-icons/logout.png"/></a>
    </li>
    <li>
      <h3>Welcome :
        <span th:utext="${#request.userPrincipal.name}"></span>
      </h3>
    </li>
  </ul>
</nav>
