<div class="sticky-top sticky-offset" xmlns:th="http://www.thymeleaf.org">
    <div class="suggestions">
        <h5>people you may know</h5>

        <div class="row">
            <div class="col-3 suggestion" th:each="suggestion:${suggestions}">
                <a th:href="@{'/profile/'+${suggestion.id}}"><img class="profile-img" th:src="${suggestion.userImage != null ? suggestion.userImage : 'img/friends.png'}" alt=""></a>
<!--                <div th:text="${suggestion.fullName}"></div>-->
                <a class="follow-btn" th:href="@{'/followUser/'+${suggestion.id}+'/index'}">Follow</a>
            </div>
        </div>
    </div>
</div>
