<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway|Comfortaa" rel="stylesheet">
</head>

<body>

<div class="error-page">

    <p class="error-banner">
        <strong>Oops!</strong> An error occurred.
    </p>

    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>

    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p>

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>

    <div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
        <b>Cause:</b> <span th:if="${ex}" th:text="${ex}">exception ...</span>
        <span th:if="${exception}" th:text="${exception}">exception ...</span>
        <span th:if="${message} and ${message.length() != 0}"
              th:text="${message}">message ...</span>
    </div>

    <p th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
        Cause unknown (no exception details available)</p>

</div>

</body>

</html>
