<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign Up - CookHub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{css/signup.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway|Comfortaa" rel="stylesheet">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <section id="sign-up">
        <h1 class="logo">CookHub</h1>
        <form action="/registration" method="POST" enctype="multipart/form-data" th:object="${newAppUser}">

            <div class="form-group">
                <label for="user-image">Upload Image:</label>
                <input type="file" id="user-image" name="file">
            </div>

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:required="required" th:field="*{fullName}" >
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" th:required="required" th:field="*{email}" >
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" th:required="required" th:field="*{password}" >
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary">Sign Up</input>
            </div>
            <p class="signin-prompt">Already a member? <a th:href="@{/signin}">Log In</a></p>
        </form>
    </section>
</div>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>

</html>
